@using ESCS.COMMON.Response;
@using ESCS.MODEL.ESCS;
@{
    Layout = null;
    var data = ViewBag.Data as BaseResponse<ThongTinEmail<ThongBaoGiamDinh>>;
    var mail = data.data_info.mail;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>THÔNG BÁO XÁC NHẬN ĐÁNH GIÁ RỦI RO</title>
</head>
<body style="font-family: 'Tahoma'">
    <div style="border:1px solid #035299; border-radius:12px; margin:5px; background-color:azure">
        <div style="width: 710px; margin: 0 auto;">
            <h2 style="color: #035299; text-align: center">THÔNG BÁO XÁC NHẬN BIÊN BẢN ĐÁNH GIÁ RỦI RO</h2>
            <div style="padding: 8px; text-align: justify;">
                <p style="font-family: 'Tahoma'; font-size: 14px;">Kính gửi Quý khách hàng: <span style="font-family: 'Tahoma'; font-size: 14px; color: #035299">@mail.ten_khach</span></p>
                <p style="font-family: 'Tahoma'; font-size: 14px; margin-top:5px;">
                    <span style="color: #4552a2"> @mail.ten_cty</span> xin gửi tới Quý khách hàng thông báo xác nhận biên bản đánh giá rủi ro xe
                    <span style="color: #4552a2"> @mail.doi_tuong</span> theo hợp đồng bảo hiểm số <span style="color: #4552a2">@mail.so_hd</span> của cán bộ <span style="color: #4552a2">@mail.thong_tin_btv</span> đánh giá và kiểm tra.
                <p style="font-family: 'Tahoma'; font-weight: bold; margin-top: 10px">
                    <span>
                        * Để xem chi tiết về nội dung biên bản đánh giá rủi ro, vui lòng xem chi tiết file đính kèm
                    </span>
                </p>
                <div style="font-family: 'Tahoma'; font-size: 14px; color: red; font-weight: bold; margin-top: 10px">
                    <span>
                        Vui lòng click vào đường link để <a href="@mail.short_link">xác nhận </a> thông tin
                    </span>
                </div>
                <p style="font-family: 'Tahoma'; font-size: 14px; margin-top: 3px;">Trường hợp cần hỗ trợ thêm, vui lòng liên hệ hotline: <span style="color: #4552a2">@mail.dthoai_cty</span></p>
                <ul style="font-family: 'Tahoma'; font-size: 14px; line-height: 20px">
                    <li>Công ty:	<span style="font-family: 'Tahoma'; font-size: 14px; color: #035299">@mail.ten_cty</span></li>
                    <li>Địa chỉ:	<span style="font-family: 'Tahoma'; font-size: 14px; color: #035299">@mail.dia_chi_cty</span></li>
                    <li>Website:	<span style="font-family: 'Tahoma'; font-size: 14px; color: #035299"><a href="@mail.website_cty">@mail.website_cty</a></span></li>
                </ul>
                <p style="font-family: 'Tahoma'; font-size: 14px; color: #035299; font-weight: bold">Trân trọng Cảm ơn!</p>
            </div>
        </div>
    </div>
</body>
</html>