@using ESCS.COMMON.Response;
@using ESCS.MODEL.ESCS;
@{
    Layout = null;
    var data = ViewBag.Data as BaseResponse<ThongTinEmail<ThongBaoGiamDinh>>;
    var mail = data.data_info.mail;
    var dsBenhVien = data.data_info.data1;
    string ma_mau = "#035299";
    if (mail.ma_doi_tac == "ATACC")
        ma_mau = "#e002ac";
}
<html>
<head>
    <title>THÔNG BÁO TIẾP NHẬN HỒ SƠ YÊU CẦU TRẢ TIỀN BẢO HIỂM</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <style>
        table {
            font-family: 'Tahoma';
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
    </style>
</head>

<body>
    <div style="border: 1px solid #035299; border-radius: 5px; background-color: azure; font-family: 'Tahoma'; font-size: 14px; line-height: 1.5;">
        <div style="width: 710px; margin: 0 auto;">
            <div style="margin-top:20px;">
                <img style="width:170px" src="@mail.logo_email" alt="Logo" />
            </div>
            <h3 style="color: @ma_mau; text-align: center">
                THÔNG BÁO TIẾP NHẬN HỒ SƠ YÊU CẦU TRẢ TIỀN BẢO HIỂM GỐC
                <br>Số hồ sơ: @mail.so_hs
                <br>Loại hình bảo hiểm: @mail.ten_lhnv
            </h3>
            <div style="padding: 8px; text-align: justify;">

                <p style="margin: 8px 0px;">Kính gửi Ông (Bà): <span style="color: @ma_mau">@mail.ten_khach </span></p>

                <p style="margin: 8px 0px;">@mail.ten_cong_ty (@mail.ten_cong_ty_tat), xin trân trọng thông báo:</p>

                <p style="margin: 8px 0px;">
                    Ngày @mail.ngay_hoan_thanh @mail.ten_cong_ty_tat đã nhận được hồ sơ gốc của Quý khách đã được khai báo online vào ngày @mail.ngay_ht về việc yêu cầu trả tiền bảo hiểm của NĐBH là Ông/Bà <span style="color: @ma_mau">@mail.ten_ndbh</span>, như sau:
                </p>

                <table class="table" style=" margin-top: 15px; font-size: 12px;">
                    <thead>
                        <tr class="table-active" style="background-color: #f2f2f2;">
                            <th scope="col" style="text-align: center;">Cơ sở y tế</th>
                            <th scope="col" style="text-align: center;">Ngày khám/nhập viện</th>
                            <th scope="col" style="text-align: center;">Ngày kết thúc/ra viện</th>
                            <th scope="col" style="text-align: center;">Số tiền yêu cầu (VND)</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (dsBenhVien != null && dsBenhVien.Count > 0)
                        {
                            foreach (var item in dsBenhVien)
                            {
                                <tr>
                                    <th scope="row">@item.ten_bv</th>
                                    <td style="text-align: center;">@item.ngay_vv</td>
                                    <td style="text-align: center;">@item.ngay_rv</td>
                                    <td style="text-align: right;">@item.tien_yc</td>
                                </tr>
                            }
                        }
                        <tr>
                            <th scope="row" colspan="3">Tổng cộng</th>
                            <td style="text-align: right; font-weight: bold;">@mail.tien_yc</td>
                        </tr>
                    </tbody>
                </table>
                <p style="margin: 8px 0px;">
                    - Ngân hàng thụ hưởng: @mail.ngan_hang
                    - Số tài khoản thụ hưởng: @mail.stk_ngan_hang
                </p>

                <p style="margin: 8px 0px;">
                    - Trường hợp Hồ sơ cung cấp đầy đủ, hợp lệ sẽ được giải quyết và gửi thư thông báo:
                </p>
                <p style="margin: 8px 0px; padding-left:20px;">
                    + Trong vòng 5 ngày làm việc kể từ ngày nhận được hồ sơ: đối với số tiền dưới 20 triệu đồng
                </p>
                <p style="margin: 8px 0px; padding-left:20px;">
                    + Trong vòng 15 ngày làm việc kể từ ngày nhận được hồ sơ: đối với số tiền trên 20 triệu đồng
                </p>
                <p style="margin: 8px 0px;">
                    - Trường hợp cần bổ sung chứng từ, @mail.ten_cong_ty_tat sẽ gửi thông báo đến Quý khách trong vòng 03 ngày làm việc kể từ ngày gửi thông báo này (trừ trường hợp hồ sơ phải xác minh).
                </p>
                <p style="margin: 8px 0px;">
                    - Trường hợp đặc biệt cần làm rõ hồ sơ: chúng tôi sẽ thông tin tới Quý Khách trong thời gian sớm nhất và rất mong nhận được sự giúp đỡ của Quý khách.
                </p>

                <p style="margin: 8px 0px;">
                    Để tra cứu tình trạng hồ sơ và quá trình giải quyết, Ông/Bà <span style="color: @ma_mau"> @mail.ten_khach </span>vui lòng truy cập ứng dụng @mail.ten_cong_ty_tat trên mobile
                </p>

                <p style="margin: 8px 0px;">Mọi vướng mắc vui lòng liên hệ:</p>

                <p style="color: @ma_mau; font-family: 'Tahoma'; font-size: 14px;"><span>@mail.ten_cong_ty</span></p>
                <ul style="line-height: 20px; margin: 8px 0px; font-family: 'Tahoma'; font-size: 14px;">
                    <li>Địa chỉ: <span style="color: @ma_mau">@mail.dchi_dt</span></li>
                    <li>Số điện thoại: <span style="color: @ma_mau">@mail.d_thoai_dt</span></li>
                </ul>

                <p style="margin: 8px 0px; font-weight: bold; color: @ma_mau;">Trân trọng Cảm ơn!</p>

                <br />
                <hr />
                <p style="font-family: 'Tahoma'; font-size: 10px; margin-top: 5px; opacity:0.4;">
                    <span>
                        Email này cùng các tệp tin đính kèm là các thông tin bảo mật của @mail.ten_cong_ty_tat và có mục đích chỉ gửi cho những người nhận được nêu tại email.
                        Nếu Quý vị không phải là người nhận dự kiến của email này cùng các tập tin kèm theo, vui lòng không thực hiện bất cứ hành động nào trên cơ sở email và các tập tin này. Việc chia sẻ hoặc tiết lộ bất cứ nội dung nào của email này hoặc bất kỳ tập tin đính kèm nào là không được phép, trừ khi có sự đồng ý trước bằng văn bản của @mail.ten_cong_ty_tat.
                        Trường hợp Quý vị nhận được email này do có sự nhầm lẫn hoặc lỗi hệ thống, vui lòng thông báo ngay cho @mail.ten_cong_ty_tat bằng việc phản hồi lại email này, đồng thời xóa email này cùng các tập tin đính kèm khỏi hệ thống của Quý vị.
                        @mail.ten_cong_ty_tat không chịu bất kỳ trách nhiệm nào về bất cứ sự truyền tải không chính xác, không đầy đủ hay không kịp thời của bất kỳ thông tin nào trong email. Mặc dù @mail.ten_cong_ty_tat đã thực hiện các biện pháp cần thiết để đảm bảo email này không có chứa virus, @mail.ten_cong_ty_tat không chịu trách nhiệm đối với bất cứ thiệt hại hay tổn thất nào phát sinh từ việc nhận hoặc sử dụng email hoặc bất kỳ tệp tin đính kèm nào.
                    </span>
                </p>
                <p style="font-family: 'Tahoma'; font-size: 10px; margin-top: 10px; opacity:0.4;">
                    <span>
                        This email and any file transmitted with it are confidential information of @mail.ten_cong_ty_tat and intended solely for the use of the individual or entity to whom they are addressed.
                        If you are not the intended recipient, please do not take any action in reliance on this email.
                        Without prior written consent of @mail.ten_cong_ty_tat, any disclosure or distribution of this email or any of its attachments is strictly prohibited.
                        If you have received this email in error, kindly notify @mail.ten_cong_ty_tat immediately by replying to this email and then delete this email along with all attachments from your system.
                        @mail.ten_cong_ty_tat shall not take any responsibility for any improper, incomplete or delayed transmission of any information contained in this email. Although @mail.ten_cong_ty_tat has taken reasonable precautions to ensure no viruses are present in this email, @mail.ten_cong_ty_tat shall not accept responsibility for any loss or damage arising from the receipt or use of this email or any attachment.
                    </span>
                </p>
                <hr />
            </div>
        </div>
    </div>
</body>
</html>