@using ESCS.COMMON.Response;
@using ESCS.MODEL.ESCS;
@using RazorEngine.Text;
@{
    Layout = null;
    var data = ViewBag.Data as BaseResponse<ThongTinEmail<ThongBaoGiamDinh>>;
    var mail = data.data_info.mail;
}
<html>
<head>
    <title>THÔNG BÁO HỒ SƠ ONLINE CẦN BỔ SUNG CHỨNG TỪ</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>

<body style="font-family: 'Tahoma';">
    <div style="border:1px solid #035299; border-radius:12px; margin:5px; background-color:azure">
        <div style="width: 710px; margin: 0 auto;">
            <h3 style="color: #035299; text-align: center">
                THÔNG BÁO HỒ SƠ ONLINE CẦN BỔ SUNG CHỨNG TỪ
                <br>Số hồ sơ: @mail.so_hs
                <br>Loại hình bảo hiểm: @mail.ten_lhnv
            </h3>

            <div style="padding: 8px; text-align: justify;">

                <p style="font-family: 'Tahoma'; font-size: 14px;">Kính gửi Ông (Bà): <span style="font-family: 'Tahoma'; font-size: 14px; color: #035299">@mail.ten_khach</span></p>

                <p style="font-family: 'Tahoma'; font-size: 14px; margin-top: 5px;">
                    Sau khi xem xét hồ sơ khai báo ONLINE do Quý khách cung cấp, để có đủ cơ sở xem xét và giải quyết quyền lợi bảo hiểm đúng quy định, @mail.ten_cong_ty_tat kính đề nghị Quý khách bổ sung các chứng từ sau:
                </p>

                <div style="font-family: 'Tahoma'; font-size: 14px; margin-left: 18px; margin-top: 8px; margin-bottom: 8px;">
                    <p><span style="font-family: 'Tahoma'; font-size: 14px; color: #035299">@(new RawString(mail.yeu_cau_bs))</span></p>
                </div>

                <p style="font-family: 'Tahoma'; font-size: 14px;">
                    Trong mọi trường hợp cần thiết, @mail.ten_cong_ty_tat có thể tiếp tục đề nghị Quý khách bổ sung thêm chứng từ để làm rõ phạm vi bảo hiểm và hồ sơ chỉ được thông báo phương án giải quyết sau khi @mail.ten_cong_ty_tat nhận được đầy đủ hồ sơ bản giấy.
                </p>

                <p style="color: #035299; font-weight: bold; margin-top:8px;">(*) Lưu ý</p>

                <p style="font-family: 'Tahoma'; font-size: 14px;">- Chứng từ thanh toán  (Hóa đơn, phiếu thu, bảng kê…), hồ sơ tai nạn/ tử vong, hồ sơ thừa kế/ thụ hưởng: <span style="font-family: 'Tahoma'; font-size: 14px; color: red"> yêu cầu bản chính</span></p>

                <p style="font-family: 'Tahoma'; font-size: 14px;">- Các giấy tờ khác: bản scan hoặc bản chụp ảnh chứng từ gốc</p>

                <p style="font-family: 'Tahoma'; font-size: 14px; margin-top: 8px;">
                    <span>
                        Để tra cứu tình trạng hồ sơ và quá trình giải quyết, Ông/Bà <span style="font-family: 'Tahoma'; font-size: 14px; color: #035299">@mail.ten_khach</span> vui lòng truy cập ứng dụng @mail.ten_cong_ty_tat Claim trên mobile theo mã <span style="color:red">(số mã cv)</span>
                    </span>
                </p>

                <p style="font-family: 'Tahoma'; font-size: 14px; margin-top: 8px;">Mọi vướng mắc vui lòng liên hệ Hotline <b>1900636137</b></p>
                
                <p style="font-family: 'Tahoma'; font-size: 14px; color: #035299; font-weight: bold">Trân trọng Cảm ơn!</p>

                <p style="font-family: 'Tahoma'; font-size: 14px; margin-top: 3px;">
                    <span style="font-family: 'Tahoma'; font-size: 14px; color: red;">
                        (Quý khách bổ sung hồ sơ đầy đủ trong 05 ngày và gửi hồ sơ bản giấy về @mail.ten_cong_ty_tat để giải quyết theo quy định)
                    </span>
                </p>
            </div>
        </div>
    </div>
</body>
</html>