@using ESCSPARTNER.COMMON.Response;
@using ESCS.MODEL.ESCS;
@{
    Layout = null;
    var data = ViewBag.Data as BaseResponse<ThongTinEmail<GaraBaoGia>>;
    var mail = data.data_info.mail;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>THÔNG BÁO GỬI BIÊN BẢN TIẾP NHẬN TÀI SẢN</title>
    <style>
        body {
            font-family: Arial, Times, serif;
        }

        td {
            padding: 5px;
        }
    </style>
</head>
<body>
    <div class="col-md-12 col-sm-12">
        <div class="col-md-12 col-sm-12">
            <p style="text-align: center; font-size: 22px; font-weight: bold; color: #436aa8; margin-top:15px;">THÔNG BÁO GỬI BIÊN BẢN TIẾP NHẬN XE VÀ TÀI SẢN</p>
            <p style="text-align: center; font-size: 16px; font-weight: 500; color: #436aa8; margin-top:3px;">Số hồ sơ: @mail.so_id</p>
        </div>
    </div>
    <div class="row" style="margin-top:20px">
        <div style="margin-left: 10px; font-size: 14px;">
            <p style="color: #273aa6; font-weight: bold;font-size: 16px !important;">
                Kính gửi Anh/Chị :
                <span style="color: #4552a2 !important; font-weight: 500 !important;">@mail.ten_kh</span>
            </p>
            <p style="margin-top:3px"><span class="name_body" style="color: #4552a2">@mail.ma_chi_nhanh</span> xin trân trọng gửi tới Quý Khách hàng thông tin biên bản tiếp nhận xe và tài sản như sau:</p>
            <p style="color: #000000; font-weight: bold;font-size: 16px !important; margin-top:5px;">Thông tin tiếp nhận xe ô tô:</p>
            <div style="margin-left: 10px;">
                <table style="width:100%">
                    <tr>
                        <td><p>Ngày tiếp nhận: <span style="color: #4552a2">0912312312</span></p></td>
                        <td><p>Hãng xe: <span style="color: #4552a2">@mail.hang_xe</span></p></td>
                    </tr>
                    <tr>
                        <td><p>Hiệu xe: <span style="color: #4552a2">@mail.hieu_xe</span></p></td>
                        <td><p>Biển xe: <span style="color: #4552a2">@mail.bien_xe</span></p></td>
                    </tr>
                </table>
            </div>
            <p><i><u>Bên giao</u></i></p>
            <div style="margin-left: 10px;">
                <table style="width:100%">
                    <tr>
                        <td><p>Tên khách hàng: <span style="color: #4552a2">@mail.ten_kh</span></p></td>
                        <td><p>Chứng minh thư: <span style="color: #4552a2">@mail.cmt_kh</span></p></td>
                    </tr>
                    <tr>
                        <td><p>Email: <span style="color: #4552a2">@mail.email</span></p></td>
                        <td><p>Số điện thoại: <span style="color: #4552a2">@mail.dien_thoai</span></p></td>
                    </tr>
                    <tr>
                        <td><p>Địa chỉ: <span style="color: #4552a2">@mail.dchi</span></p></td>
                    </tr>
                </table>
            </div>
            <p><i><u>Bên nhận</u></i></p>
            <div style="margin-left: 10px;">
                <table style="width:100%">
                    <tr>
                        <td><p>Đại diện bên nhận: <span style="color: #4552a2">@mail.ten_gara</span></p></td>
                        <td><p>Mã số thuế: <span style="color: #4552a2">Chưa có dữ liệu</span></p></td>
                    </tr>
                    <tr>
                        <td><p>Email: <span style="color: #4552a2">@mail.email_gara</span></p></td>
                        <td><p>Số điện thoại: <span style="color: #4552a2">@mail.dien_thoai_gara</span></p></td>
                    </tr>
                    <tr>
                        <td><p>Địa chỉ: <span style="color: #4552a2">@mail.dia_chi_gara</span></p></td>
                    </tr>
                </table>
            </div>
            <p style="color: #000000; font-weight: bold;font-size: 16px !important;">
                Thông tin tài sản tiếp nhận:
            </p>
            <table id="table" style="width:100%;border-collapse:collapse;font-size: 14px;text-align: center;" ; border="1">
                <tbody>
                    <tr style="background-color: #E8E8E8;margin:auto;">
                        <th style="padding:5px;width:6%; text-align:center">STT</th>
                        <th style="padding:5px;width:30%">Tên tài sản</th>
                        <th style="padding:5px;width:12%">ĐVT</th>
                        <th style="padding:5px;width:12%">SL</th>
                        <th style="padding:5px;width:25%">Giá trị tài sản(nếu có)</th>
                        <th style="padding:5px;width:20%">Tình trạng</th>
                    </tr>
                    <tr>
                        <td style="text-align:center">1</td>
                        <td>Giấy tờ xe</td>
                        <td style="text-align:center">bộ</td>
                        <td style="text-align:center">1</td>
                        <td style="text-align:center">0</td>
                        <td style="text-align:center">Tốt</td>
                    </tr>
                    <tr>
                        <td style="text-align:center">2</td>
                        <td>Chìa khóa xe</td>
                        <td style="text-align:center">chiếc</td>
                        <td style="text-align:center">1</td>
                        <td style="text-align:center">0</td>
                        <td style="text-align:center">Tốt</td>
                    </tr>
                </tbody>
            </table>
            <p style="color: #000000; font-weight: bold;font-size: 16px !important; margin-top:5px;">Thông tin cán bộ phụ trách:</p>
            <div style="margin-left: 10px;">
                <p>Tên cán bộ phụ trách: <span style="color: #4552a2">Chưa có dữ liệu</span></p>
                <p>Số điện thoại: <span style="color: #4552a2">Chưa có dữ liệu</span></p>
                <p>Email: <span style="color: #4552a2">Chưa có dữ liệu</span></p>
                <p>Trường hợp cần hỗ trợ thêm, vui lòng liên hệ hotline <span style="color: #4552a2">@mail.dien_thoai_gara</span></p>
            </div>
            <p style="margin-top:10px; font-size:13px; color: #436aa8;"><i><b>Trân Trọng,</b></i></p>
        </div>
        <div style="margin-top: 10px; font-size: 14px; background-color: #E8E8E8; padding: 10px;">
            <p>
                <span style="font-weight:700"><i>Gara: </i></span><span style="color:red"><i>Hồng Hạnh</i></span><br>
                <span style="font-weight:700"><i>Địa chỉ: </i></span><i>218 Đội Cấn, Ba Đình, Hà Nội</i><br>
                <span style="font-weight:700"><i>Website: </i></span><a href="" target="_blank"><i>www.escs.vn</i></a><br>
            </p>
        </div>
    </div>
</body>
</html>