@model ESCS.MODEL.ESCS.tra_cuu_ho_so
@{
    ViewData["Title"] = "Tra cứu hồ sơ";
    Layout = "~/Views/Shared/_LayoutMobile.cshtml";
}
<p style="padding-top: 100px;">Mã đối tác: @Model.ma_doi_tac</p>
<p>Số id: @Model.so_id</p>
<p>Nghiệp vụ: @Model.nv</p>
<p>Signature: @Model.signature</p>
<p>IsValid: @Model.valid</p>
<p>Version: @Model.vesion</p>